@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  background: #857f74;
  --bgcolor: #38302e;
  --font: "Audiowide", cursive;
}

header {
  font-family: var(--font);
  color: #fff;
  background: var(--bgcolor);
  padding: 0 0.9rem;
  letter-spacing: 0.1rem;
}
#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#display {
  width: 7rem;
  height: 3rem;
  background: #6f6866;
  border: 2px solid #38302e;
  margin: 3rem 1rem;
  text-align: center;
  color: gainsboro;
  font-family: var(--font);
}

#drumPadPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: stretch;
}

@media only screen and (max-width: 769px) {
  #drumPadPanel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.drum-pad,
.playing {
  width: 4rem;
  /* height: 4rem; */
  padding: 1rem 0;
  background: var(--bgcolor);
  border: 3px solid #6f6866;
  color: white;
  text-align: center;

  font-family: var(--font);
  font-size: 2rem;
  cursor: pointer;
}

span {
  font-size: 0.7rem;
  font-family: var(--font);
  width: 100%;
  text-align: center;
  display: inline-block;
  color: var(--bgcolor);
}

.playing {
  transform: scale(1.1, 1.1);
  border-color: gainsboro;
}
