body {
  background: #857f74;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#display {
  width: 7rem;
  height: 3rem;
  background: #6f6866;
  border: 2px solid #38302e;
  margin-bottom: 3rem;
  text-align: center;
  color: gainsboro;
}

#drumPadPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: stretch;
}

.drum-pad {
  width: 4rem;
  height: 4rem;
  padding-top: 1rem;
  background: #38302e;
  border: 3px solid #6f6866;
  color: white;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
